# Entendimento dos Dados

In [1]:
# importando bibliotecas
import os # manipulação de pastas
import warnings # exibe avisos
import pandas as pd # manipulação de tabelas

warnings.filterwarnings('ignore')

In [2]:
# importando conjunto de dados
df = pd.read_csv('../data/raw/google_ads_data.csv')

In [ ]:
# exibe os 5 primeiros registros
df.head()

,Ad_ID,Campaign_Name,Clicks,Impressions,Cost,Leads,Conversions,Conversion Rate,Sale_Amount,Ad_Date,Location,Device,Keyword
0,A1000,DataAnalyticsCourse,104.0,4498.0,$231.88,14.0,7.0,0.058,$1892,2024-11-16,hyderabad,desktop,learn data analytics
1,A1001,DataAnalyticsCourse,173.0,5107.0,$216.84,10.0,8.0,0.046,$1679,20-11-2024,hyderabad,mobile,data analytics course
2,A1002,Data Anlytics Corse,90.0,4544.0,$203.66,26.0,9.0,NaN,$1624,2024/11/16,hyderabad,Desktop,data analitics online
3,A1003,Data Analytcis Course,142.0,3185.0,$237.66,17.0,6.0,NaN,$1225,2024-11-26,HYDERABAD,tablet,data anaytics training
4,A1004,Data Analytics Corse,156.0,3361.0,$195.9,30.0,8.0,NaN,$1091,2024-11-22,hyderabad,desktop,online data analytic

In [4]:
# informções gerais sobre o conjunto de dados
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2600 entries, 0 to 2599
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Ad_ID            2600 non-null   object
 1   Campaign_Name    2600 non-null   object
 2   Clicks           2488 non-null   float64
 3   Impressions      2546 non-null   float64
 4   Cost             2503 non-null   object
 5   Leads            2552 non-null   float64
 6   Conversions      2526 non-null   float64
 7   Conversion Rate  1974 non-null   float64
 8   Sale_Amount      2461 non-null   object
 9   Ad_Date          2600 non-null   object
 10  Location         2600 non-null   object
 11  Device           2600 non-null   object
 12  Keyword          2600 non-null   object
dtypes: float64(5), object(8)
memory usage: 264.2+ KB

In [5]:
# soma a quantidade de registros duplicados no conjunto de dados
df.duplicated().sum()

0

In [ ]:
# soma a quantidade de valores nulos por coluna
df.isnull().sum()

Ad_ID                0
Campaign_Name        0
Clicks             112
Impressions         54
Cost                97
Leads               48
Conversions         74
Conversion Rate    626
Sale_Amount        139
Ad_Date              0
Location             0
Device               0
Keyword              0
dtype: int64

**Observações:**
- Notamos algumas inconcistências em algumas colunas ao não ter um padrão para o nome das categorias, algumas possuindo espaçamentos ou caracteres modificados.
- A coluna de data também não apresenta um padrão específico, algumas sendo separadas por "-" e outras por "/". 
- Há valores nulos em algumas variáveis como Clicks, Impressions... Devemos analisar o que motiva esses valores estarem nulos para decidir se faz sentido que permaneçam assim ou os preencheremos.
- Nas variáveis `Cost` e `Sale_Amount` contém presença de caracteres especias, mas é uma variável numérica, logo precisamos remover tais caracteres e corrigir o tipo de dados.
- Aparentemente não há linhas duplicadas.